{% extends 'templateSite.html' %}

{% block content %}

<form method="POST" novalidate>
	{% csrf_token %}
	<h2>Login</h2>
	{{form.as_p}}
	<input class="button large secondary" type="submit" value="Login &raquo;" />
	<p>Don't have an account? <a href="/register">Register</a></p>
  <a href="/forget ">Forget password?</a>
</form>


<!--
<div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
        
    <button class="button large secondary" type="submit">Login &raquo;</button>
      <p><a href="/forget ">Forget password?</a></p>
  </div>-->



  {% endblock %}