
<div class="row">
    <div class="twelve columns header_nav" style="margin-bottom:0; box-shadow: none">
      <div class="twelve columns">
        <ul id="menu-header" class="nav-bar horizontal">
          {%if request.user.is_authenticated %}
            <li {% if pageName == "customers" %} class="active" {% endif %}><a href="/customers">Customers</a></li>
            <li {% if pageName == "change_pwd" %} class="active" {% endif %}><a href="/change-pwd">Change Password</a></li>
            <li {% if pageName == "logout" %} class="active" {% endif %}><a href="/logout">Logout</a></li>
            <li {% if pageName == "about" %} class="active" {% endif %}><a href="/about">About</a></li>
          {%else%}
            <li {% if pageName == "login" %} class="active" {% endif %}><a href="/login">Login</a></li>
            <li {% if pageName == "register" %} class="active" {% endif %}><a href="/register">Register</a></li>
            <li {% if pageName == "forget"%} class="active" {% endif %}><a href="/forget">Forget Password?</a></li>
            <li {% if pageName == "about" %} class="active" {% endif %}><a href="/about">About</a></li>
          {%endif%}
        </ul>
        <script>$('ul#menu-header').nav-bar();</script>
      </div>
    </div>
  </div>