<div style="width:80%">
    <p style="float:right"> Password Policy:<br>
                            <br> 1. Password length: {{ pass_policy.minLen }}
                            <br> 2. Digits (0-9): {{ pass_policy.password.minLenDigits }}
                            <br> 3. Letters (a-Z): {{ pass_policy.password.minAlphaLetters }}
                            <br> 4. Capitals (A-Z): {{ pass_policy.password.minLenUpperLetter }}
                            <br> 5. Lowers (a-z): {{ pass_policy.password.minLenLowerLetter }}
                            <br> 6. Special chars ({{ pass_policy.password.specialCharacters }}): {{ pass_policy.password.minLenSpeical }}
                        </p>

</div>