<div style="width:70%">
    <p style="float:center"> Password Policy :<br>
                            <br> 1. Password length: {{ policy_password.minLen }}
                            <br> 2. Minimum Digits (0-9): {{ policy_password.password.minLenDigits }}
                            <br> 3. Minimum Letters (a-Z): {{ policy_password.password.minAlphaLetters }}
                            <br> 4. Minimum Capitals (A-Z): {{ policy_password.password.minLenUpperLetter }}
                            <br> 5. Minimum Lowers (a-z): {{ policy_password.password.minLenLowerLetter }}
                            <br> 6. Special chars ({{ policy_password.password.specialCharacters }}): {{ policy_password.password.minLenSpeical }}
                        </p>
</div>