{% extends 'templateSite.html' %}

{% block content %}
<div class="row">
	<div class="column1">
		<div id="secure-form-register">
			<form method='POST' style="width:50%;">
				{{ form.as_p }} {% csrf_token %}
				<input style="text-align:center" class="button large secondary" type="submit" value="Register" />
			</form>
			{% if newUser %}
				<h4> {{ newUser.username }} was created sucessfully!</h4>
			{% endif %}
		</div>
		<!--<div id="insecure-form-register">
			<form method='GET' style="width:50%;">
				{{ form.as_p }} {% csrf_token %}
				<input style="text-align:center" class="button large secondary" type="submit" value="Register" />
			</form>
			{% if user_new %}
				<h4> {{ user_new.username }} was created sucessfully!</h4>
			{% endif %}
			{% if users %}
			  {% for user in users %}
			  <h4> {{ user.username }} was created sucessfully!</h4>
			  {% endfor %}
			{% endif %}
		</div> -->
	</div>
	<div class="column2">
		{% include 'password-policy.html' %}
	</div>
</div>
{% endblock %}

  