{% extends 'templateSite.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Reset Password Confirm</title>
    
</head>
<body>

    <div id="container-register">
        <div id="title">
            <i class="material-icons lock"> lock</i> Reset password
            
            
        </div>

    <h3>Enter new password</h3>

    <p>Please enter your new password twice so we can verify you typed it in correctly</p>

    <form method="POST">

        {% csrf_token %}
        {{form}}
        <p>

        </p>
        <button type="submit" name="Update Password" >Reset password</button>
    </form>
</body>
</html>