{% extends 'templateSite.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Reset Password Complete</title>
    
</head>
<body>
    <h3>Password reset complete</h3>

    <p>Your password has been set. You may go ahead and log in now</p>

    
</body>
</html>


{% extends 'templateSite.html' %}

{% block content %}


<p class="welcome_text">We’ve emailed you instructions for setting your password,
     if an account exists with the email you entered. You should receive them shortly.
</p>
<p class="welcome_text">If you don’t receive an email,
     please make sure you’ve entered the address you registered with, and check your spam folder.
</p>

  {% endblock %}