
{% extends 'templateSite.html' %}

<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>

</head>
<body>
    

 

    <div id="container-register">
        <div id="title">
            <i class="material-icons lock"> lock</i> Reset password
            
            
        </div>

    <form method="POST">
        

        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" name="Send email">

    </form>

    

    <p>
         We'll send you an email link to set a new password. 
    </p>
</body>
</html>
</html>