{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<title>Communication LTD</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href='{% static "stylesheets/foundation.min.css" %}'>
<link rel="stylesheet" href='{% static "stylesheets/main.css" %}'>
<link rel="stylesheet" href='{% static "stylesheets/app.css" %}'>
<link rel="stylesheet" href='{% static "stylesheets/mystyle.css" %}'>
<script type="text/javascript" src='{% static "javascripts/modernizr.foundation.js" %}' defer></script>

<!--<script src="javascripts/modernizr.foundation.js"></script> -->
<!-- Google fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' /> 
</head>
<body>
    <script type="text/javascript" src='{% static "javascripts/myscript.js" %}' defer></script>
{%if request.user.is_authenticated %}
  <div class="row"><a href="/customers"><img src='{% static "images/logo.png" %}' alt="" class="header_logo"></a> </div>
{%else%}
<div class="row"><a href="/login"><img src='{% static "images/logo.png" %}' alt="" class="header_logo"></a> </div>
{%endif%}

<div class="row page_wrap" style="margin-top:-2px">
  <!-- page wrap -->
  <div class="twelve columns">
    <!-- page wrap -->
    {% include 'navbar.html' %}
    <!-- END Header -->
    <div class="row">
      <div class="twelve columns">
        <div class="heading_dots hide-for-small">
          <h1 class="heading_supersize"><span class="heading_center_bg">{{ pageTitle }}</span></h1>
        </div>
        {% block content %}
        CODE PAGE
        {% endblock %}

        {% if messages %}
          {% for message in messages %}
              {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
          {% endfor %}
        {% endif %}
<!--       {% if messages %}
        <div class="messages">
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
            {{ message }}
          </div>
        {% endfor %}
        </div>
      {% endif %}
      -->  

      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <ul id="menu3" class="footer_menu horizontal">
            <p> HIT College project - Computers security</p>
        </ul>
      </div>
    </div>
    <script>$('ul#menu3').nav-bar();</script>
  </div>
</div>
<!-- end page wrap) -->
<!-- Included JS Files (Compressed) -->
<script src='{% static "javascripts/foundation.min.js" %}'></script>
<!-- Initialize JS Plugins -->
<script src='{% static "javascripts/app.js"%}'></script>
</body>
</html>