{% extends 'templateSite.html' %}

{% block content %}

  <form method="POST">

  




    {% csrf_token %}
	
    {% for field in form %}
      <p>
          {% if field.errors %}
          <ul class="errorlist">
              {% for error in field.errors %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
          {% endif %}
           {{ field.label_tag }} {{ field }}


          <!-- my -->
          {% if field.messages %}
          <ul class="messages">
              {% for message in field.messages %}
		          <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
                <li>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}

          <!-- end my -->
      </p>
      {% endfor %}
    <input style="text-align:center" class="button large secondary" type="submit" value="Reset Password" />
    </form>
    
{% endblock %}